
.what-we-are-wrapper {
    display:grid;
    grid-template-columns: 50% 50%;
    width: 100%;
    grid-gap:2rem;
}

.what-we-are-wrapper div {
    text-align: center;
}

.what-we-are-header h1 {
    padding-top: 1rem;
}

.what-we-are-header {
    color: white;
    background-color: #30638E;
    height: 5rem;
}

.what-we-are-wrapper .ul-wrapper {
    background-color: white;
    color: black;
    height: 100%;
}

.what-we-are-wrapper ul {
    list-style: none;
    text-align: center;
    padding-left:0;
}

.what-we-are-wrapper ul li p {
    font-size: x-small;
}

.what-we-are-wrapper ul li {
    box-sizing: border-box;
    border-bottom: 2px rgba(128, 128, 128, 0.301) solid;
    padding-top: 1rem;
}

.what-we-are-wrapper ul li:last-child {
    border-bottom: none;
}

.what-we-are-wrapper ul li i {
    padding-right: 1rem;
}
